@charset "utf-8"

;root {
    --primary:#ff75a0;
    --secondary: #fce38a;
    --terciary: #eaffd0 ;
    --higlitgh: #95e1d3;
}

body{
    background-color: rgb(230, 158, 234);
}

.btn-link
  { 
        text-decoration: none;
        color: #0e584a;  
}


.carousel-inner
{
    height: 60vh;
    
}
.carousel-item{
    height: 100%;

}

